#new-schedule {
  display: flex;
  justify-content: center;
  background-color: var(--background-tertiary);
  padding: 1.125rem;
  margin-top: 2.75rem;

  button {
    all: unset;
  
    font: var(--label-large);
    background-color: var(--content-brand);
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;

    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgb(146, 130, 250);

    padding: 0.75rem 1.5rem;
  }
}

@media (width >= 80em) {
  #new-schedule {
    display: flex;
    justify-content: end;
    padding: 0;
    background-color: #14151d;
    margin-left: auto;
    margin: 0 1.875rem 2.0625rem 0;
  }
}