*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;

  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;

  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;

  --ff-inter-tight: "Inter Tight", sans-serif;
  --ff-inter: "Inter", sans-serif;

  --title: 700 1.5rem/2rem var(--ff-inter-tight);

  --paragraph-medium: 500 0.875rem/1.5rem var(--ff-inter);
  --paragraph-small: 500 0.75rem/1rem var(--ff-inter);
  --label-large: 700 1rem/1.5rem var(--ff-inter);
  --label-medium: 700 0.875rem/1.5rem var(--ff-inter);
  --label-small: 700 0.75rem/1rem var(--ff-inter);
  --link: 500 0.75rem/1rem var(--ff-inter);
}

body {
  background-color: var(--background-tertiary);
}

.container {
  margin-top: 0.5625rem;
}