#logo {
  width: 9.5625rem;
  height: 3rem;
  border-radius: 0 0 0.75rem;
  background-color: #2E2C30;

  img {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    justify-content: center;
  }
}