#schedule {
  
  margin-top: 0.75rem;

  h1 {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  & .input-date {
    width: 11.4375rem;
    height: 3rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem;

    & img:nth-of-type(2) {
      position: absolute;
      right: 0.75rem;
      z-index: 0;
    }
    
    input[type=date] {
      all: unset;
      padding-inline: 0.5rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
      font-family: var(--ff-inter);
      color: var(--content-secondary);
    }
  }

  ::-webkit-calendar-picker-indicator {
      position: absolute;
      opacity: 0;
      width: 100%;
      z-index: 1;
  }
}